{
    email marcleonschulz@gmail.com
}
marc-schulz.tech {
    reverse_proxy frontend:5000
}
api.marc-schulz.tech {
    reverse_proxy backend:8000
}
www.marc-schulz.tech {
    redir https://marc-schulz.tech{uri}
}